<div class="item {% block class %}{{ item.config.type }}{% endblock %}">
{% block title %}
    <h1>{{ item.title }}</h1>
{% endblock %}

{% block content %}
    {{ item.content }}
{% endblock %}
</div>