<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function subst() {
            var vars = {};
            var x = window.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection', 'doctitle'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j) y[j].textContent = decodeURIComponent(escape(vars[x[i]]));
            }
        }
    </script>
</head>
<body style="border:0; margin: 0;" onload="subst()">
<table class="footer">
    <tr>
        <td class="bottom-left">
        </td>
        <td class="bottom-center">
          <span class="page">
        </td>
        <td class="bottom-right">
        </td>
    </tr>
</table>
</body>
</html>
