/*
    This stylesheet will be applied when publishing this book edition.

    Keep in mind that easybook default styles are applied first, so
    your styles always override any default style.

    If you don't want to apply default styles to your book, set the
    ' include_styles' option to false:

        # config.yml
        book:
            # ...
            editions:
                # ...
                <your-edition-name>:
                    # ...
                    include_styles:  false
*/

/* Table of contents
   -----------------------------------------------------------------------------
   @normalize ............ normalize and reset elements
   @typography ........... colors, sizes, margins, paddings, and line heights
     @body ............... body
     @links .............. a, a:link, a:hover, a:visited, a:active
     @headings ........... h1, .., h6
     @paragraphs ......... p
     @lists .............. ul, ol, dl
     @misc ............... any other element (labels, common CSS classes, ...)
   @images ............... img
   @tables ............... table
   @code ................. pre, code
     @highlighting ....... code highlighting colors
   @layout ............... container and grid
   @navigation ........... elements to turn pages and browse contents
     @menu ............... main navigation menu
     @breadcrumbs ........ page breadcrumbs
     @pagination ......... next page / previous page
   @items ................ book content items
        @common (common styles for every book item)
        @acknowledgement   @afterword    @appendix        @author      @chapter
        @conclusion        @cover        @dedication      @edition     @epilogue
        @foreword          @glossary     @introduction    @license     @lof
        @lot               @part         @preface         @prologue    @title
        @toc
   @responsive ........... adapt the styles for different devices
     @retina ............. width: 1600px and up (large desktops)
     @tablets ............ width: from 768px to 979px (portrait and landscape tablets)
     @tablets_and_phones . width: from 481px to 767px (landscape phones & portrait tablets)
     @phones ............. width: 480px and below (landscape and portrait phones)
*/

/* ==========================================================================
   @normalize
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
}

audio,
canvas,
video {
}

audio:not([controls]) {
}

html {
}

a:focus {
}

a:hover,
a:active {
}

sub,
sup {
}

button,
input,
select,
textarea {
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
}

input[type="search"] {
}

/* ==========================================================================
   @typography
   ========================================================================== */
/* @body
   -------------------------------------------------------------------------- */
body {
}

/* @links
   -------------------------------------------------------------------------- */
a, a:visited {
}
a:hover {
}

/* @headings
   -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

/* @paragraphs
   -------------------------------------------------------------------------- */
p {
}

/* @lists
   -------------------------------------------------------------------------- */
ul, ol {
}

ol {
}

ul li, ol li {
}

ul.unstyled,
ol.unstyled {
}

dl {
}

dt {
}

dd {
}

dl.horizontal {
}

dl.horizontal dt {
}

dl.horizontal dd {
}

/* @misc
   -------------------------------------------------------------------------- */
blockquote {
}

.left {
}
.right {
}
.center {
}

/* ==========================================================================
   @images
   ========================================================================== */
img {
}

.left img {
}

.right img {
}

.center img {
}

/* ==========================================================================
   @tables
   ========================================================================== */
table {
}

table th,
table td {
}

table th {
}

table thead th {
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
}

table tbody + tbody {
}

table.condensed th,
table.condensed td {
}

table.bordered {
}

table.bordered th,
table.bordered td {
}

table.bordered caption + thead tr:first-child th,
table.bordered caption + tbody tr:first-child th,
table.bordered caption + tbody tr:first-child td,
table.bordered colgroup + thead tr:first-child th,
table.bordered colgroup + tbody tr:first-child th,
table.bordered colgroup + tbody tr:first-child td,
table.bordered thead:first-child tr:first-child th,
table.bordered tbody:first-child tr:first-child th,
table.bordered tbody:first-child tr:first-child td {
}

table.bordered thead:first-child tr:first-child th:first-child,
table.bordered tbody:first-child tr:first-child td:first-child {
}

table.bordered thead:first-child tr:first-child th:last-child,
table.bordered tbody:first-child tr:first-child td:last-child {
}

table.bordered thead:last-child tr:last-child th:first-child,
table.bordered tbody:last-child tr:last-child td:first-child,
table.bordered tfoot:last-child tr:last-child td:first-child {
}

table.bordered thead:last-child tr:last-child th:last-child,
table.bordered tbody:last-child tr:last-child td:last-child,
table.bordered tfoot:last-child tr:last-child td:last-child {
}

table.bordered caption + thead tr:first-child th:first-child,
table.bordered caption + tbody tr:first-child td:first-child,
table.bordered colgroup + thead tr:first-child th:first-child,
table.bordered colgroup + tbody tr:first-child td:first-child {
}

table.bordered caption + thead tr:first-child th:last-child,
table.bordered caption + tbody tr:first-child td:last-child,
table.bordered colgroup + thead tr:first-child th:last-child,
table.bordered colgroup + tbody tr:first-child td:last-child {
}

table.striped tbody tr:nth-child(odd) td,
table.striped tbody tr:nth-child(odd) th {
}

table.hover tbody tr:hover td,
table.hover tbody tr:hover th {
}

table [class*=span],
.row-fluid table [class*=span] {
}

table .span1 {
}

table .span2 {
}

table .span3 {
}

table .span4 {
}

table .span5 {
}

table .span6 {
}

table .span7 {
}

table .span8 {
}

table .span9 {
}

table .span10 {
}

table .span11 {
}

table .span12 {
}

table .span13 {
}

table .span14 {
}

table .span15 {
}

table .span16 {
}

table .span17 {
}

table .span18 {
}

table .span19 {
}

table .span20 {
}

table .span21 {
}

table .span22 {
}

table .span23 {
}

table .span24 {
}

table tbody tr.success td {
}

table tbody tr.error td {
}

table tbody tr.warning td {
}

table tbody tr.info td {
}

table-hover tbody tr.success:hover td {
}

table-hover tbody tr.error:hover td {
}

table-hover tbody tr.warning:hover td {
}

table-hover tbody tr.info:hover td {
}

/* ==========================================================================
   @code
   ========================================================================== */
code, pre {
}

code {
}

pre {
}

pre code {
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
}

/* @highlighting
   -------------------------------------------------------------------------- */
div.code .co1,        /* comments */
div.code .co2,
div.code .co3,
div.code .co4
{ }
div.code .st_h,
div.code .st0         /* strings */
{ }
div.code .kw1,        /* keywords */
div.code .kw2,
div.code .kw3,
div.code .kw4
{ }
div.code .sy0         /* symbols */
{ }

div.php .re0          /* variables */
{ }
div.php .br0          /* brackets and parenthesis */
{ }
div.php .sy0          /* equal symbol */
{ }
div.php .kw1,         /* keywords such as if, return, as, ... */
div.php .kw2
{ }
div.php .kw3          /* functions */
{ }
div.php .kw4          /* true, false */
{ }
div.php .st_h,        /* strings */
div.php .st0,
div.php .co3          /* HEREDOC */
{ }

div.yaml .co3,        /* keys */
div.yaml .co4,
div.yaml .sy2         /* the ':' that separates keys from values */
{ }
div.yaml .st0         /* strings */
{ }
div.yaml .nu0         /* numbers */
{ }

div.html .sc-1        /* comments */
{ }
div.html .st0         /* strings */
{ }
div.html .kw2         /* tags */
{ }
div.html .kw3         /* attribute names */
{ }
div.html .sc0         /* DOCTYPE */
{ }

div.ini .re0          /* sections */
{ }
div.ini .co0          /* comments */
{ }
div.ini .re1          /* keys */
{ }
div.ini .re2          /* values */
{ }

div.sql .kw1          /* SELECT, INSERT, UPDATE, ... */
{ }
div.sql .sy0          /* equal symbol */
{ }
div.sql .st0          /* strings */
{ }
div.sql .nu0          /* numbers */
{ }

div.xml .sc-1         /* comments */
{ }
div.xml .re1          /* tags */
{ }
div.xml .re0          /* attribute names */
{ }
div.xml .st0,         /* strings */
div.xml .sc2          /* CDATA sections */
{ }

div.twig .coMULTI     /* comments */
{ }
div.twig .br0         /* brackets and parenthesis */
{ }
div.twig .kw6,        /* {{, }}, {%, %}, ... */
div.twig .br0 + .sy0, /* the '%' symbol after '{' character */
div.twig .sy0 + .br0, /* the '%' symbol before '}' character */
div.twig .re0,        /* variables, objects */
div.twig .re1         /* objects properties */
{ }
div.twig .kw1,        /* tags */
div.twig .kw5,        /* is */
div.twig .kw4         /* defined, ... */
{ }
div.twig .st0         /* strings */
{ }
div.twig .sy0         /* symbols such as '=', '|', ... */
{ }
div.twig .kw2         /* filters */
{ }

/* ==========================================================================
   @layout
   ========================================================================== */
.row {
}

.row:before,
.row:after {
}

.row:after {
}

[class*="span"] {
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
}

.span12 { }
.span11 { }
.span10 { }
.span9  { }
.span8  { }
.span7  { }
.span6  { }
.span5  { }
.span4  { }
.span3  { }
.span2  { }
.span1  { }

.offset12 { }
.offset11 { }
.offset10 { }
.offset9  { }
.offset8  { }
.offset7  { }
.offset6  { }
.offset5  { }
.offset4  { }
.offset3  { }
.offset2  { }
.offset1  { }

.row-fluid {
}

.row-fluid:before,
.row-fluid:after {
}

.row-fluid:after {
}

.row-fluid [class*="span"] {
}

.row-fluid [class*="span"]:first-child {
}

.row-fluid .span12 { }
.row-fluid .span11 { }
.row-fluid .span10 { }
.row-fluid .span9  { }
.row-fluid .span8  { }
.row-fluid .span7  { }
.row-fluid .span6  { }
.row-fluid .span5  { }
.row-fluid .span4  { }
.row-fluid .span3  { }
.row-fluid .span2  { }
.row-fluid .span1  { }

.row-fluid .offset12 {
}
.row-fluid .offset12:first-child {
}
.row-fluid .offset11 {
}
.row-fluid .offset11:first-child {
}
.row-fluid .offset10 {
}
.row-fluid .offset10:first-child {
}
.row-fluid .offset9 {
}
.row-fluid .offset9:first-child {
}
.row-fluid .offset8 {
}
.row-fluid .offset8:first-child {
}
.row-fluid .offset7 {
}
.row-fluid .offset7:first-child {
}
.row-fluid .offset6 {
}
.row-fluid .offset6:first-child {
}
.row-fluid .offset5 {
}
.row-fluid .offset5:first-child {
}
.row-fluid .offset4 {
}
.row-fluid .offset4:first-child {
}
.row-fluid .offset3 {
}
.row-fluid .offset3:first-child {
}
.row-fluid .offset2 {
}
.row-fluid .offset2:first-child {
}
.row-fluid .offset1 {
}
.row-fluid .offset1:first-child {
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
}

.container {
}

.container:before,
.container:after {
}

.container:after {
}

.container-fluid {
}

.container-fluid:before,
.container-fluid:after {
}

.container-fluid:after {
}

/* ==========================================================================
   @navigation
   ========================================================================== */
/* @menu
   -------------------------------------------------------------------------- */
/* main navigation menu */
.menu {
}

/* the title of the book in the main navigation menu */
.menu h1 {
}

/* the "Previous / Next" links in the main navigation menu */
.menu p a {
}

/* the table of contents of each item (shown in the sidebar) */
.local_toc {
}

.local_toc ul {
}

/* each of the elements of the table of contents of each item */
.local_toc ul li {
}

/* the label of the table of contents elements */
.local_toc ul li span {
}

/* each table of content element is a link */
.local_toc ul li a {
}
.local_toc ul li a:hover {
}

/* @breadcrumbs
   -------------------------------------------------------------------------- */

/* @pagination
   -------------------------------------------------------------------------- */

/* ==========================================================================
   @items
   ========================================================================== */
/* @common
   -------------------------------------------------------------------------- */
.item {
}

/* @acknowledgement
   -------------------------------------------------------------------------- */
.item.acknowledgement {
}

.item.acknowledgement h1 {
}

.item.acknowledgement h2 {
}

.item.acknowledgement h3 {
}

.item.acknowledgement p {
}

/* @afterword
   -------------------------------------------------------------------------- */
.item.afterword {
}

.item.afterword h1 {
}

.item.afterword h2 {
}

.item.afterword h3 {
}

.item.afterword p {
}

/* @appendix
   -------------------------------------------------------------------------- */
.item.appendix {
}

.item.appendix h1 {
}

/* the label of the appendix title */
.item.appendix h1 span {
}

.item.appendix h2 {
}

.item.appendix h3 {
}

.item.appendix p {
}

/* @author
   -------------------------------------------------------------------------- */
.item.author {
}

.item.author h1 {
}

.item.author h2 {
}

.item.author h3 {
}

.item.author p {
}

/* @chapter
   -------------------------------------------------------------------------- */
/* customize every chapter */
.item.chapter {
}

/* customize a single chapter (indicate its number between parenthesis) */
.item.chapter:nth-child(3) {
}

/* customize odd chapters (1, 3, 5, 7, ...) */
.item.chapter:nth-child(odd) {
}

/* customize even chapters (2, 4, 6, 8, ...) */
.item.chapter:nth-child(even) {
}

/* customize the first five chapters */
.item.chapter:nth-child(-n+5) {
}

/* customize every chapter except the first five chapters */
.item.chapter:nth-child(n+6) {
}

.item.chapter h1 {
}

/* the label of the chapter title */
.item.chapter h1 span {
}

.item.chapter h2 {
}

.item.chapter h3 {
}

.item.chapter p {
}

/* @conclusion
   -------------------------------------------------------------------------- */
.item.conclusion {
}

.item.conclusion h1 {
}

.item.conclusion h2 {
}

.item.conclusion h3 {
}

.item.conclusion p {
}

/* @cover
   -------------------------------------------------------------------------- */
.item.cover {
}

.item.cover h1 {
}

.item.cover h2 {
}

.item.cover h3 {
}

/* @dedication
   -------------------------------------------------------------------------- */
.item.dedication {
}

.item.dedication h1 {
}

.item.dedication p {
}

/* @edition
   -------------------------------------------------------------------------- */
.item.edition {
}

.item.edition h1 {
}

.item.edition h2 {
}

.item.edition h3 {
}

.item.edition p {
}

/* @epilogue
   -------------------------------------------------------------------------- */
.item.epilogue {
}

.item.epilogue h1 {
}

.item.epilogue h2 {
}

.item.epilogue h3 {
}

.item.epilogue p {
}

/* @foreword
   -------------------------------------------------------------------------- */
.item.foreword {
}

.item.foreword h1 {
}

.item.foreword h2 {
}

.item.foreword h3 {
}

.item.foreword p {
}

/* @glossary
   -------------------------------------------------------------------------- */
.item.glossary {
}

.item.glossary h1 {
}

.item.glossary h2 {
}

.item.glossary h3 {
}

.item.glossary p {
}

/* @introduction
   -------------------------------------------------------------------------- */
.item.introduction {
}

.item.introduction h1 {
}

.item.introduction h2 {
}

.item.introduction h3 {
}

.item.introduction p {
}

/* @license
   -------------------------------------------------------------------------- */
.item.license {
}

.item.license h1 {
}

.item.license h2 {
}

.item.license h3 {
}

.item.license p {
}

/* @lof (list of figures)
   -------------------------------------------------------------------------- */
.item.lof {
}

.item.lof h1 {
}

.item.lof p {
}

/* the list that displays the book figures */
.item.lof ul {
}

/* the label of the figures without caption */
.item.lof ul li span {
}

.item.lof ul li a {
}
.item.lof ul li a:hover {
}

/* @lot (list of tables)
   -------------------------------------------------------------------------- */
.item.lot {
}

.item.lot h1 {
}

.item.lot p {
}

/* the list that displays the book tables */
.item.lot ul {
}

/* the label of the tables without caption */
.item.lot ul li span {
}

.item.lot ul li a {
}
.item.lot ul li a:hover {
}

/* @part
   -------------------------------------------------------------------------- */
.item.part {
}

.item.part h1 {
}

/* @preface
   -------------------------------------------------------------------------- */
.item.preface {
}

.item.preface h1 {
}

.item.preface h2 {
}

.item.preface h3 {
}

.item.preface p {
}

/* @prologue
   -------------------------------------------------------------------------- */
.item.prologue {
}

.item.prologue h1 {
}

.item.prologue h2 {
}

.item.prologue h3 {
}

.item.prologue p {
}

/* @title
   -------------------------------------------------------------------------- */
.item.title {
}

.item.title h1 {
}

.item.title h2 {
}

.item.title h3 {
}

/* @toc (table of contents)
   -------------------------------------------------------------------------- */
.item.toc {
}

.item.toc h1 {
}

.item.toc p {
}

/* the list that displays the book contents */
.item.toc ul {
}

/* each of the book contents (including chapter internal sections) */
.item.toc ul li {
}

/* the label of each content (chapters, sections, etc.) */
.item.toc ul li span {
}

.item.toc ul li a {
}
.item.toc ul li a:hover {
}

/* each of the table of contents levels (usually books don't show more than two levels */
.item.toc ul li.level-1 {
}
.item.toc ul li.level-2 {
}
.item.toc ul li.level-3 {
}
.item.toc ul li.level-4 {
}
.item.toc ul li.level-5 {
}
.item.toc ul li.level-6 {
}

/* ==========================================================================
   @responsive
   ========================================================================== */
/* @retina
   -------------------------------------------------------------------------- */
@media (min-width: 1600px) {
    body { }

    h1 { }
    h2 { }
    h3 { }
    h4 { }
    h5 { }
    h6 { }

    p  { }

    ul, ol       { }
    ul li, ol li { }

    .menu     { }
    .menu h1  { }
    .menu p a { }

    .local_toc ul           { }
    .local_toc ul li        { }
    .local_toc ul li a      { }
    .local_toc ul li a span { }

    .item.chapter    { }
    .item.chapter h1 { }
    .item.chapter h2 { }
    .item.chapter h3 { }
    .item.chapter h4 { }
    .item.chapter h5 { }
    .item.chapter h6 { }
    .item.chapter p  { }

    .row {
    }
    .row:before,
    .row:after {
    }
      .row:after {
    }
    [class*="span"] {
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
    }

    .span12 { }
    .span11 { }
    .span10 { }
    .span9  { }
    .span8  { }
    .span7  { }
    .span6  { }
    .span5  { }
    .span4  { }
    .span3  { }
    .span2  { }
    .span1  { }

    .offset12 { }
    .offset11 { }
    .offset10 { }
    .offset9  { }
    .offset8  { }
    .offset7  { }
    .offset6  { }
    .offset5  { }
    .offset4  { }
    .offset3  { }
    .offset2  { }
    .offset1  { }

    .row-fluid {
    }
    .row-fluid:before,
    .row-fluid:after {
    }
    .row-fluid:after {
    }
    .row-fluid [class*="span"] {
    }
    .row-fluid [class*="span"]:first-child {
    }

    .row-fluid .span12 { }
    .row-fluid .span11 { }
    .row-fluid .span10 { }
    .row-fluid .span9  { }
    .row-fluid .span8  { }
    .row-fluid .span7  { }
    .row-fluid .span6  { }
    .row-fluid .span5  { }
    .row-fluid .span4  { }
    .row-fluid .span3  { }
    .row-fluid .span2  { }
    .row-fluid .span1  { }

    .row-fluid .offset12 {
    }
    .row-fluid .offset12:first-child {
    }
    .row-fluid .offset11 {
    }
    .row-fluid .offset11:first-child {
    }
    .row-fluid .offset10 {
    }
    .row-fluid .offset10:first-child {
    }
    .row-fluid .offset9 {
    }
    .row-fluid .offset9:first-child {
    }
    .row-fluid .offset8 {
    }
    .row-fluid .offset8:first-child {
    }
    .row-fluid .offset7 {
    }
    .row-fluid .offset7:first-child {
    }
    .row-fluid .offset6 {
    }
    .row-fluid .offset6:first-child {
    }
    .row-fluid .offset5 {
    }
    .row-fluid .offset5:first-child {
    }
    .row-fluid .offset4 {
    }
    .row-fluid .offset4:first-child {
    }
    .row-fluid .offset3 {
    }
    .row-fluid .offset3:first-child {
    }
    .row-fluid .offset2 {
    }
    .row-fluid .offset2:first-child {
    }
    .row-fluid .offset1 {
    }
    .row-fluid .offset1:first-child {
    }
}

/* @tablets
   -------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    body { }

    h1 { }
    h2 { }
    h3 { }
    h4 { }
    h5 { }
    h6 { }

    p  { }

    ul, ol       { }
    ul li, ol li { }

    .menu     { }
    .menu h1  { }
    .menu p a { }

    .local_toc ul           { }
    .local_toc ul li        { }
    .local_toc ul li a      { }
    .local_toc ul li a span { }

    .item.cover    { }
    .item.cover h1 { }
    .item.cover h2 { }

    .item.chapter    { }
    .item.chapter h1 { }
    .item.chapter h2 { }
    .item.chapter h3 { }
    .item.chapter h4 { }
    .item.chapter h5 { }
    .item.chapter h6 { }
    .item.chapter p  { }

    .row {
    }
    .row:before,
    .row:after {
    }
    .row:after {
    }
    [class*="span"] {
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
    }

    .span12 { }
    .span11 { }
    .span10 { }
    .span9  { }
    .span8  { }
    .span7  { }
    .span6  { }
    .span5  { }
    .span4  { }
    .span3  { }
    .span2  { }
    .span1  { }

    .offset12 { }
    .offset11 { }
    .offset10 { }
    .offset9  { }
    .offset8  { }
    .offset7  { }
    .offset6  { }
    .offset5  { }
    .offset4  { }
    .offset3  { }
    .offset2  { }
    .offset1  { }

    .row-fluid {
    }
    .row-fluid:before,
    .row-fluid:after {
    }
    .row-fluid:after {
    }
    .row-fluid [class*="span"] {
    }
    .row-fluid [class*="span"]:first-child {
    }

    .row-fluid .span12 { }
    .row-fluid .span11 { }
    .row-fluid .span10 { }
    .row-fluid .span9  { }
    .row-fluid .span8  { }
    .row-fluid .span7  { }
    .row-fluid .span6  { }
    .row-fluid .span5  { }
    .row-fluid .span4  { }
    .row-fluid .span3  { }
    .row-fluid .span2  { }
    .row-fluid .span1  { }

    .row-fluid .offset12 {
    }
    .row-fluid .offset12:first-child {
    }
    .row-fluid .offset11 {
    }
    .row-fluid .offset11:first-child {
    }
    .row-fluid .offset10 {
    }
    .row-fluid .offset10:first-child {
    }
    .row-fluid .offset9 {
    }
    .row-fluid .offset9:first-child {
    }
    .row-fluid .offset8 {
    }
    .row-fluid .offset8:first-child {
    }
    .row-fluid .offset7 {
    }
    .row-fluid .offset7:first-child {
    }
    .row-fluid .offset6 {
    }
    .row-fluid .offset6:first-child {
    }
    .row-fluid .offset5 {
    }
    .row-fluid .offset5:first-child {
    }
    .row-fluid .offset4 {
    }
    .row-fluid .offset4:first-child {
    }
    .row-fluid .offset3 {
    }
    .row-fluid .offset3:first-child {
    }
    .row-fluid .offset2 {
    }
    .row-fluid .offset2:first-child {
    }
    .row-fluid .offset1 {
    }
    .row-fluid .offset1:first-child {
    }
}

/* @tablets_and_phones
   -------------------------------------------------------------------------- */
@media (max-width: 767px) {
    body { }

    h1 { }
    h2 { }
    h3 { }
    h4 { }
    h5 { }
    h6 { }

    p  { }

    ul, ol       { }
    ul li, ol li { }

    .menu     { }
    .menu h1  { }
    .menu p a { }

    .local_toc ul           { }
    .local_toc ul li        { }
    .local_toc ul li a      { }
    .local_toc ul li a span { }

    .item.cover    { }
    .item.cover h1 { }
    .item.cover h2 { }

    .item.chapter    { }
    .item.chapter h1 { }
    .item.chapter h2 { }
    .item.chapter h3 { }
    .item.chapter h4 { }
    .item.chapter h5 { }
    .item.chapter h6 { }
    .item.chapter p  { }

    .container-fluid {
    }
    dl.horizontal dt {
    }
    dl.horizontal dd {
    }
    .container {
    }
    .row-fluid {
    }
    .row {
    }
    [class*="span"],
    .row-fluid [class*="span"] {
    }
    .span12,
    .row-fluid .span12 {
    }
}

/* @phones
   -------------------------------------------------------------------------- */
@media (max-width: 480px) {
    body { }

    h1 { }
    h2 { }
    h3 { }
    h4 { }
    h5 { }
    h6 { }

    p  { }

    ul, ol       { }
    ul li, ol li { }

    .menu     { }
    .menu h1  { }
    .menu p a { }

    .local_toc ul           { }
    .local_toc ul li        { }
    .local_toc ul li a      { }
    .local_toc ul li a span { }

    .item.cover    { }
    .item.cover h1 { }
    .item.cover h2 { }

    .item.chapter    { }
    .item.chapter h1 { }
    .item.chapter h2 { }
    .item.chapter h3 { }
    .item.chapter h4 { }
    .item.chapter h5 { }
    .item.chapter h6 { }
    .item.chapter p  { }
}
