.tm_properties
.idea
.DS_Store
._*
.Spotlight-V100
.Trashes

composer.phar
composer.lock

app/Cache
app/Logs

doc/easybook-doc-en/Output/*
doc/easybook-doc-en/Resources
doc/easybook-doc-es/Output/*
doc/easybook-doc-es/Resources

easybook.zip

vendor
