parameters:
    ignoreErrors:
        - '#Parameter (.*?) of function (.*?) expects resource, resource\|false given#'

        # phsptan-symfony doesn't work due to missing .xml file
        # get() call on container
        - '#Property (.*?)Test::(.*?) does not accept object#'
        - '#Call to an undefined method object(.*?)#'
        - '#Parameter \#1 (.*?) expects (.*?), object given#'

        # SplFileInfo() false positives
        - '#Parameter \#1 $file (.*?) expects string, string|false given#'

        # false positive
        - '#Property Easybook\\Tests\\(.*?)::\$container \(Symfony\\Component\\DependencyInjection\\Container\) does not accept Psr\\Container\\ContainerInterface#'
