/*
    This stylesheet will be applied when publishing this book edition.

    Keep in mind that easybook default styles are applied first, so
    your styles always override any default style.

    If you don't want to apply default styles to your book, set the
    ' include_styles' option to false:

        # config.yml
        book:
            # ...
            editions:
                # ...
                <your-edition-name>:
                    # ...
                    include_styles:  false
*/

/* Table of contents
   -----------------------------------------------------------------------------
   @normalize ............ normalize and reset elements
   @typography ........... colors, sizes, margins, paddings, and line heights
     @custom ............. custom fonts
     @body ............... body
     @links .............. a, a:link, a:hover, a:visited, a:active
     @headings ........... h1, .., h6
     @paragraphs ......... p
     @lists .............. ul, ol, dl
     @misc ............... any other element (labels, common CSS classes, ...)
   @images ............... img
   @tables ............... table
   @code ................. pre, code
     @highlighting ....... code highlighting colors
   @layout ............... page size, headers, footers, ...
   @items ................ book content items
        @common (common styles for every book item)
        @acknowledgement   @afterword    @appendix        @author      @chapter
        @conclusion        @cover        @dedication      @edition     @epilogue
        @foreword          @glossary     @introduction    @license     @lof
        @lot               @part         @preface         @prologue    @title
        @toc
*/

/* ==========================================================================
   @normalize
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
}

html {
}

a:focus {
}

a:hover,
a:active {
}

sub,
sup {
}

/* ==========================================================================
   @typography
   ========================================================================== */
/* @custom (configure custom fonts to use them in your PDF book)
   -------------------------------------------------------------------------- */
/*
@font-face {
    font-family: <your-font-name>;
    font-style: normal;
    font-weight: 400;
    src: url("/path/to/fonts/Font-Regular.ttf")
}

@font-face {
    font-family: <your-font-name>;
    font-style: normal;
    font-weight: 700;
    src: url("/path/to/fonts/Font-Bold.ttf")
}

@font-face {
    font-family: <your-font-name>;
    font-style: italic;
    font-weight: 400;
    src: url("/path/to/fonts/Font-Italic.ttf")
}

@font-face {
    font-family: <your-font-name>;
    font-style: italic;
    font-weight: 700;
    src: url("/path/to/fonts/Font-BoldItalic.ttf")
}
*/

/* @body
   -------------------------------------------------------------------------- */
body {
}

/* @links
   -------------------------------------------------------------------------- */
a {
}

a::after {
    /* display the page number where the link points to */
    /* content: " (page " target-counter(attr(href), page) ")"; */
}
a:contains("www")::after,
a:contains("http://")::after,
a:contains("https://")::after  {
}

/* @headings
   -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

/* @paragraphs
   -------------------------------------------------------------------------- */
p {
  /* uncomment if you don't want to hyphenate paragraphs */
  /* hyphens: none; */
}

/* @lists
   -------------------------------------------------------------------------- */
ul, ol {
}

ol {
}

ul li, ol li {
}

ul.unstyled,
ol.unstyled {
}

dl {
}

dt {
}

dd {
}

dl.horizontal {
}

dl.horizontal dt {
}

dl.horizontal dd {
}

/* @misc
   -------------------------------------------------------------------------- */
blockquote {
}

.left {
}
.right {
}
.center {
}

/* ==========================================================================
   @images
   ========================================================================== */
img {
}

.left img {
}

.right img {
}

.center img {
}

/* ==========================================================================
   @tables
   ========================================================================== */
table {
}

table th,
table td {
}

table th {
}

table thead th {
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
}

table tbody + tbody {
}

table.condensed th,
table.condensed td {
}

table.bordered {
}

table.bordered th,
table.bordered td {
}

table.bordered caption + thead tr:first-child th,
table.bordered caption + tbody tr:first-child th,
table.bordered caption + tbody tr:first-child td,
table.bordered colgroup + thead tr:first-child th,
table.bordered colgroup + tbody tr:first-child th,
table.bordered colgroup + tbody tr:first-child td,
table.bordered thead:first-child tr:first-child th,
table.bordered tbody:first-child tr:first-child th,
table.bordered tbody:first-child tr:first-child td {
}

table.bordered thead:first-child tr:first-child th:first-child,
table.bordered tbody:first-child tr:first-child td:first-child {
}

table.bordered thead:first-child tr:first-child th:last-child,
table.bordered tbody:first-child tr:first-child td:last-child {
}

table.bordered thead:last-child tr:last-child th:first-child,
table.bordered tbody:last-child tr:last-child td:first-child,
table.bordered tfoot:last-child tr:last-child td:first-child {
}

table.bordered thead:last-child tr:last-child th:last-child,
table.bordered tbody:last-child tr:last-child td:last-child,
table.bordered tfoot:last-child tr:last-child td:last-child {
}

table.bordered caption + thead tr:first-child th:first-child,
table.bordered caption + tbody tr:first-child td:first-child,
table.bordered colgroup + thead tr:first-child th:first-child,
table.bordered colgroup + tbody tr:first-child td:first-child {
}

table.bordered caption + thead tr:first-child th:last-child,
table.bordered caption + tbody tr:first-child td:last-child,
table.bordered colgroup + thead tr:first-child th:last-child,
table.bordered colgroup + tbody tr:first-child td:last-child {
}

table.striped tbody tr:nth-child(odd) td,
table.striped tbody tr:nth-child(odd) th {
}

table.hover tbody tr:hover td,
table.hover tbody tr:hover th {
}

table [class*=span],
.row-fluid table [class*=span] {
}

table tbody tr.success td {
}

table tbody tr.error td {
}

table tbody tr.warning td {
}

table tbody tr.info td {
}

table-hover tbody tr.success:hover td {
}

table-hover tbody tr.error:hover td {
}

table-hover tbody tr.warning:hover td {
}

table-hover tbody tr.info:hover td {
}

/* ==========================================================================
   @code
   ========================================================================== */
code, pre {
}

code {
}

pre {
}

pre code {
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
}

/* @highlighting
   -------------------------------------------------------------------------- */
div.code .co1,        /* comments */
div.code .co2,
div.code .co3,
div.code .co4
{ }
div.code .st_h,
div.code .st0         /* strings */
{ }
div.code .kw1,        /* keywords */
div.code .kw2,
div.code .kw3,
div.code .kw4
{ }
div.code .sy0         /* symbols */
{ }

div.php .re0          /* variables */
{ }
div.php .br0          /* brackets and parenthesis */
{ }
div.php .sy0          /* equal symbol */
{ }
div.php .kw1,         /* keywords such as if, return, as, ... */
div.php .kw2
{ }
div.php .kw3          /* functions */
{ }
div.php .kw4          /* true, false */
{ }
div.php .st_h,        /* strings */
div.php .st0,
div.php .co3          /* HEREDOC */
{ }

div.yaml .co3,        /* keys */
div.yaml .co4,
div.yaml .sy2         /* the ':' that separates keys from values */
{ }
div.yaml .st0         /* strings */
{ }
div.yaml .nu0         /* numbers */
{ }

div.html .sc-1        /* comments */
{ }
div.html .st0         /* strings */
{ }
div.html .kw2         /* tags */
{ }
div.html .kw3         /* attribute names */
{ }
div.html .sc0         /* DOCTYPE */
{ }

div.ini .re0          /* sections */
{ }
div.ini .co0          /* comments */
{ }
div.ini .re1          /* keys */
{ }
div.ini .re2          /* values */
{ }

div.sql .kw1          /* SELECT, INSERT, UPDATE, ... */
{ }
div.sql .sy0          /* equal symbol */
{ }
div.sql .st0          /* strings */
{ }
div.sql .nu0          /* numbers */
{ }

div.xml .sc-1         /* comments */
{ }
div.xml .re1          /* tags */
{ }
div.xml .re0          /* attribute names */
{ }
div.xml .st0,         /* strings */
div.xml .sc2          /* CDATA sections */
{ }

div.twig .coMULTI     /* comments */
{ }
div.twig .br0         /* brackets and parenthesis */
{ }
div.twig .kw6,        /* {{, }}, {%, %}, ... */
div.twig .br0 + .sy0, /* the '%' symbol after '{' character */
div.twig .sy0 + .br0, /* the '%' symbol before '}' character */
div.twig .re0,        /* variables, objects */
div.twig .re1         /* objects properties */
{ }
div.twig .kw1,        /* tags */
div.twig .kw5,        /* is */
div.twig .kw4         /* defined, ... */
{ }
div.twig .st0         /* strings */
{ }
div.twig .sy0         /* symbols such as '=', '|', ... */
{ }
div.twig .kw2         /* filters */
{ }

/* ==========================================================================
   @layout
   ========================================================================== */
/*
    if the book isn't double-sided, use the @page selector instead of
    @page:left and @page:right
*/

@page:right {
    @top-left     { }
    @top-right    { }
    @bottom-right { }
    @bottom-left  { }
}

@page:left {
    @top-left     { }
    @top-right    { }
    @bottom-left  { }
    @bottom-right { }
}

/* ==========================================================================
   @items
   ========================================================================== */
/* @common
   -------------------------------------------------------------------------- */
.item {
    /* force every item to start on a right/left page */
    /* page-break-before: right; */
}

/* @acknowledgement
   -------------------------------------------------------------------------- */
.item.acknowledgement {
}

.item.acknowledgement h1 {
}

.item.acknowledgement h2 {
}

.item.acknowledgement h3 {
}

.item.acknowledgement p {
}

/* @afterword
   -------------------------------------------------------------------------- */
.item.afterword {
}

.item.afterword h1 {
}

.item.afterword h2 {
}

.item.afterword h3 {
}

.item.afterword p {
}

/* @appendix
   -------------------------------------------------------------------------- */
.item.appendix {
}

/* customize the appendix pages on the right */
/*
@page page_chapter:right {
    @top-left     { content: string(book_title); }
    @top-right    { content: string(appendix_title, first); }
    @bottom-right { content: counter(page); }
    @bottom-left  { }
}
*/

/* customize the appendix pages on the left */
/*
@page page_appendix:left {
    @top-left     { content: string(appendix_title, first); }
    @top-right    { content: string(book_title); }
    @bottom-right { }
    @bottom-left  { content: counter(page); }
}
*/

/* customize all the appendix pages */
/*
@page page_appendix {
    @top-left     { content: string(book_title); }
    @top-right    { content: string(appendix_title, first); }
    @bottom-right { content: counter(page); }
    @bottom-left  { }
}
*/

/* customize the first page of every appendix */
/*
@page page_appendix:first {
    @top       { content: '' !important; border: none; }
    @top-left  { content: '' !important; border: none; }
    @top-right { content: '' !important; border: none; }
}
*/

.item.appendix h1 {
}

/* the label of the appendix title */
.item.appendix h1 span {
}

.item.appendix h2 {
}

.item.appendix h3 {
}

.item.appendix p {
}

/* @author
   -------------------------------------------------------------------------- */
.item.author {
}

.item.author h1 {
}

.item.author h2 {
}

.item.author h3 {
}

.item.author p {
}

/* @chapter
   -------------------------------------------------------------------------- */
/* customize every chapter */
.item.chapter {
}

/* customize a single chapter (indicate its number between parenthesis) */
.item.chapter:nth-child(3) {
}

/* customize odd chapters (1, 3, 5, 7, ...) */
.item.chapter:nth-child(odd) {
}

/* customize even chapters (2, 4, 6, 8, ...) */
.item.chapter:nth-child(even) {
}

/* customize the first five chapters */
.item.chapter:nth-child(-n+5) {
}

/* customize every chapter except the first five chapters */
.item.chapter:nth-child(n+6) {
}

/* customize the chapter pages on the right */
/*
@page page_chapter:right {
    @top-left     { content: string(book_title); }
    @top-right    { content: string(chapter_title, first); }
    @bottom-right { content: counter(page); }
    @bottom-left  { }
}
*/

/* customize the chapter pages on the left */
/*
@page page_chapter:left {
    @top-left     { content: string(chapter_title, first); }
    @top-right    { content: string(book_title); }
    @bottom-right { }
    @bottom-left  { content: counter(page); }
}
*/

/* customize all the chapter pages */
/*
@page page_chapter {
    @top-left     { content: string(book_title); }
    @top-right    { content: string(chapter_title, first); }
    @bottom-right { content: counter(page); }
    @bottom-left  { }
}
*/

/* customize the first page of every chapter */
/*
@page page_chapter:first {
    @top       { content: '' !important; border: none; }
    @top-left  { content: '' !important; border: none; }
    @top-right { content: '' !important; border: none; }
}
*/

.item.chapter h1 {
}

/* the label of the chapter title */
.item.chapter h1 span {
}

.item.chapter h2 {
}

.item.chapter h3 {
}

.item.chapter p {
}

/* @conclusion
   -------------------------------------------------------------------------- */
.item.conclusion {
}

.item.conclusion h1 {
}

.item.conclusion h2 {
}

.item.conclusion h3 {
}

.item.conclusion p {
}

/* @cover
   -------------------------------------------------------------------------- */
.item.cover {
}

.item.cover h1 {
}

.item.cover h2 {
}

.item.cover h3 {
}

/* @dedication
   -------------------------------------------------------------------------- */
.item.dedication {
    /* display no header on the dedication pages */
    /* page: no-header; */
}

.item.dedication h1 {
}

.item.dedication p {
}

/* @edition
   -------------------------------------------------------------------------- */
.item.edition {
    /* display no header on edition pages and force a break before them */
    /* page: no-header; */
    /* page-break-before: always; */
}

.item.edition h1 {
}

.item.edition h2 {
}

.item.edition h3 {
}

.item.edition p {
}

/* @epilogue
   -------------------------------------------------------------------------- */
.item.epilogue {
}

.item.epilogue h1 {
}

.item.epilogue h2 {
}

.item.epilogue h3 {
}

.item.epilogue p {
}

/* @foreword
   -------------------------------------------------------------------------- */
.item.foreword {
}

.item.foreword h1 {
}

.item.foreword h2 {
}

.item.foreword h3 {
}

.item.foreword p {
}

/* @glossary
   -------------------------------------------------------------------------- */
.item.glossary {
}

.item.glossary h1 {
}

.item.glossary h2 {
}

.item.glossary h3 {
}

.item.glossary p {
}

/* @introduction
   -------------------------------------------------------------------------- */
.item.introduction {
}

.item.introduction h1 {
}

.item.introduction h2 {
}

.item.introduction h3 {
}

.item.introduction p {
}

/* @license
   -------------------------------------------------------------------------- */
.item.license {
}

.item.license h1 {
}

.item.license h2 {
}

.item.license h3 {
}

.item.license p {
}

/* @lof (list of figures)
   -------------------------------------------------------------------------- */
.item.lof {
}

.item.lof h1 {
}

.item.lof p {
}

/* the list that displays the book figures */
.item.lof ul {
}

/* the label of the figures without caption */
.item.lof ul li span {
}

.item.lof ul li a {
}
.item.lof li a::after {
    /* the 'leader' content defines the "text" displayed before the page number */
    /* content: leader('. ') target-counter(attr(href), page); */
}

/* @lot (list of tables)
   -------------------------------------------------------------------------- */
.item.lot {
}

.item.lot h1 {
}

.item.lot p {
}

/* the list that displays the book tables */
.item.lot ul {
}

/* the label of the tables without caption */
.item.lot ul li span {
}

.item.lot ul li a {
}
.item.lot li a::after {
    /* the 'leader' content defines the "text" displayed before the page number */
    /* content: leader('. ') target-counter(attr(href), page); */
}

/* @part
   -------------------------------------------------------------------------- */
.item.part {
}

.item.part h1 {
}

/* @preface
   -------------------------------------------------------------------------- */
.item.preface {
}

.item.preface h1 {
}

.item.preface h2 {
}

.item.preface h3 {
}

.item.preface p {
}

/* @prologue
   -------------------------------------------------------------------------- */
.item.prologue {
}

.item.prologue h1 {
}

.item.prologue h2 {
}

.item.prologue h3 {
}

.item.prologue p {
}

/* @title
   -------------------------------------------------------------------------- */
.item.title {
}

.item.title h1 {
}

.item.title h2 {
}

.item.title h3 {
}

/* @toc (table of contents)
   -------------------------------------------------------------------------- */
.item.toc {
}

.item.toc h1 {
}

.item.toc p {
}

/* the list that displays the book contents */
.item.toc ul {
}

/* each of the book contents (including chapter internal sections) */
.item.toc ul li {
}

/* the label of each content (chapters, sections, etc.) */
.item.toc ul li span {
}

.item.toc ul li a {
}
.item.toc li a::after {
    /* the 'leader' content defines the "text" displayed before the page number */
    /* content: leader('. ') target-counter(attr(href), page); */
}

/* each of the table of contents levels (usually books don't show more than two levels */
.item.toc ul li.level-1 {
}
.item.toc ul li.level-2 {
}
.item.toc ul li.level-3 {
}
.item.toc ul li.level-4 {
}
.item.toc ul li.level-5 {
}
.item.toc ul li.level-6 {
}
