/*
                    |              |
,---.,---.,---.,   .|---.,---.,---.|__/
|---',---|`---.|   ||   ||   ||   ||  \
`---'`---^`---'`---|`---'`---'`---'`   `
               `---'

  Title:        Base CSS for easybook v4 books
  Author:       javier.eguiluz@gmail.com
  Version:      4.0
  Last updated: 6 - feb - 2012
*/

/* Reset styles
   ------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic
   ------------------------------------------------------------------------- */

body {
    background: #FFF;
    color: #000;
    font: 14px/1.5 sans-serif;
}

/* links */
a {
    color: #12C;
    text-decoration: underline;
}
a:visited {
    color: #61C;
}
a:hover {
    text-decoration: none;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1;
    margin: .5em 0 .25em 0;
}

h1 { font-size: 24px; }
h2 { font-size: 21px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0;
}

/* paragraphs */
p {
    margin-bottom: 1em;
}

/* lists */
ul, ol {
    list-style-type: disc;
    margin: 1em 0 1em 3em;
}

ol {
    list-style-type: decimal;
}

ul li, ol li {
    margin: .5em 0;
}

/* other elements */
acronym {
    text-decoration: none;
    border: none;
}

blockquote::before {
    content: "\201C";
}
blockquote::after {
    content: "\201D";
}

/* Page layout
   ------------------------------------------------------------------------- */

#wrapper {
    max-width: 960px;
    margin: 10px auto 100px;
}

/* common features */
.new-page {
    page-break-before: always !important;
}
.follow-blank {
    page-break-after: always !important;
}
.start-left {
    page-break-before: left !important;
}

.page\:title,
.page\:edition,
.page\:license,
.page\:chapter,
.page\:appendix,
.page\:acknowledgement,
.page\:author,
.page\:dedication,
.page\:toc {
    border-bottom: 1px solid #DDD;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

/* exceptions */
.page\:edition + .page\:license {
    page-break-before: avoid !important;
}

/* page 'blank' */
.page\:blank {
    page-break-before: always !important;
    page-break-after: always !important;
    page: no-header-footer;
}

/* page 'cover' */
.page\:cover {
    border-bottom: thick solid #111;
    margin-bottom: 4em;
    padding-bottom: 4em;
}
.page\:cover h1 {
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: -2pt;
    margin-top: 3em;
    margin-bottom: 0;
}
.page\:cover h2 {
    font-size: 36px;
    font-weight: normal;
    margin-top: .5em;
}

/* page 'title' */
.page\:cover + .page\:title {
    display: none;
}

.page\:title h1 {
    font-size: 64px;
    line-height: 1.1;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.page\:title h2 {
    font-size: 36px;
    margin-top: .5em;
    text-align: center;
}

.page\:title h3 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin-top: 1em;
    text-align: center;
}

/* page 'dedication' */
.page\:dedication {
    font-style: italic;
    text-align: center;
}

/* page 'toc' */
.page\:toc {
    page-break-after: right !important;
}

.page\:toc h1 {
    margin-bottom: .5em;
}

.page\:toc ul {
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
}

.page\:toc ul li {
    margin: .3em 0;
}

.page\:toc li:first-child {
    margin: 0 0 .3em 0;
}

.page\:toc ul a {
    border: none;
    font-size: 16px;
    text-decoration: none;
}

.page\:toc ul li.level-1,
.page\:toc ul li.level-1 a {
    font-weight: bold;
    font-size: 21px;
}
.page\:toc ul li.level-1 span {
    font-weight: normal;
}

.page\:toc ul li.level-2,
.page\:toc ul li.level-3,
.page\:toc ul li.level-4,
.page\:toc ul li.level-5,
.page\:toc ul li.level-6 {
    font-size: 16px;
    margin-left: 1em;
}

.page\:toc ul li span::after {
    content: " - ";
}

/* pages 'lof' and 'lot' */
.page\:lof,
.page\:lot {
    page-break-after: right !important;
}

.page\:lof h1,
.page\:lot h1 {
    margin-bottom: .5em;
}

.page\:lof ul,
.page\:lot ul {
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
}

.page\:lot ul li,
.page\:lof ul li {
    margin: .3em 0;
}

.page\:lof li:first-child,
.page\:lot li:first-child {
    margin: 0 0 .3em 0;
}

.page\:lof ul a,
.page\:lot ul a {
    border: none;
    font-size: 16px;
    text-decoration: none;
}

.page\:lof ul li span::after {
    content: " - ";
}

/* page 'chapter' */
.page\:chapter h1 span {
    font-weight: normal;
}
.page\:chapter h1 {
    font-size: 36px;
    margin-top: 1em;
}
.page\:chapter h2 {
    font-size: 24px;
}
.page\:chapter h3 {
    font-size: 21px;
}
.page\:chapter h4 {
    font-size: 16px;
}
.page\:chapter h5 {
    font-size. 14px;
}
.page\:chapter h6 {
    font-size. 14px;
}
.page\:chapter h1 + h2,
.page\:chapter h2 + h3,
.page\:chapter h3 + h4,
.page\:chapter h4 + h5,
.page\:chapter h5 + h6 {
    margin-top: 1em;
}

/* page 'appendix' */
.page\:appendix h1 span {
    font-weight: normal;
}
.page\:appendix h1 {
    font-size: 36px;
    margin-top: 1em;
}
.page\:appendix h2 {
    font-size: 24px;
}
.page\:appendix h3 {
    font-size: 21px;
}
.page\:appendix h4 {
    font-size: 16px;
}
.page\:appendix h5 {
    font-size. 14px;
}
.page\:appendix h6 {
    font-size. 14px;
}

/* page 'part' */
.page\:part {
    page-break-before: right !important;
}

.page\:toc + .page\:part,
.page\:chapter + .page\:part,
.page\:appendix + .page\:part {
    margin-top: -2em;
}
.page\:part h1 {
    border: solid;
    border-width: thick 0;
    font-size: 64px;
    padding: 1em 0;
}
.page\:part h1 span {
    display: block;
    font-size: 36px;
    font-weight: normal;
}

/* Code listings
   ------------------------------------------------------------------------- */

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-weight: normal;
}

code, pre {
    color: #111;
    font-family: monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 1.6;
    padding: 0 3px 2px;
}

code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #076920;
    padding: 3px 4px;
}

pre {
    display: block;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 1em;
    padding: .5em;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
}

pre code {
    background-color: transparent;
    border: none;
    color: #111;
    padding: 0;
}

/* Images
   ------------------------------------------------------------------------- */
img {
    max-width: 960px;
}

/* Tables
   ------------------------------------------------------------------------- */

table {
    border: 1px solid #DDD;
    border-collapse: separate;
    *border-collapse: collapsed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-spacing: 0;
    margin-bottom: 18px;
    max-width: 100%;
    width: 100%;
}
table th, table td {
    border-top: 1px solid #DDD;
    padding: 8px;
    line-height: 18px;
    text-align: left;

}
table th {
    font-weight: bold;
    vertical-align: bottom;
}
.table td {
    vertical-align: top;
}
.table thead:first-child tr th, .table thead:first-child tr td {
    border-top: 0;
}
table tbody + tbody {
    border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
    border-left: 1px solid #DDD;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
    border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}
